<% layout('/layouts/default.html', {title: '订单管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('订单信息')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
                <a href="${ctx}/collectMoney/form" class="btn btn-default btnTool" title="${text('新增订单')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${collectMoney}" action="${ctx}/collectMoney/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('消费日期')}：</label>
					<div class="control-inline">
						<#form:input path="cmDate" readonly="true" maxlength="20" class="form-control Wdate-date"
						dataFormat="date" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:false,onpicked:function(){testDate_lte.click()}});"/>
					</div>
				</div>
				<!--<div class="form-group">
					<label class="control-label">${text('消费门店名称')}：</label>
					<div class="control-inline">
						<#form:input path="cmStoreName" maxlength="2" class="form-control width-120"/>
					</div>
				</div>-->
				<div class="form-group">
					<label class="control-label">${text('客户姓名')}：</label>
					<div class="control-inline">
						<#form:input path="cmCustomerName" maxlength="128" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
        /*{header:'${text('消费门店')}', name:'cmStoreName', index:'a.cm_store_name', width:150, align:"left"},*/
		{header:'${text('消费日期')}', name:'cmDate', index:'a.cm_date', width:150, align:"center", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/collectMoney/form?cmCode='+row.cmCode+'" class="btnList" data-title="${text('编辑订单信息')}">'+(val||row.id)+'</a>';
		}},
        {header:'${text('消费单号')}', name:'cmCode', index:'a.cm_code', width:150, align:"center"},
        {header:'${text('客户姓名')}', name:'cmCustomerName', index:'a.cm_customer_name', width:150, align:"center"},
		{header:'${text('会员卡号')}', name:'cmMemberCard', index:'a.cm_member_card', width:150, align:"center"},
		{header:'${text('会员卡类别')}', name:'cmMemberType', index:'a.cm_member_type', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('mi_card_type')}, val, '${text('未知')}', true);
		}},
		{header:'${text('手机号')}', name:'cmCustomerPhone', index:'a.cm_customer_phone', width:150, align:"center"},
		{header:'${text('消费金额')}', name:'cmPaymentMoney', index:'a.cm_payment_money', width:150, align:"center"},
		{header:'${text('操作')}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
				actions.push('<a href="${ctx}/collectMoney/form?cmCode='+row.cmCode+'" class="btnList" title="${text('编辑订单信息')}"><i class="fa fa-pencil"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/collectMoney/delete?cmCode='+row.cmCode+'" class="btnList" title="${text('删除订单信息')}" data-confirm="${text('确认要删除该订单吗？')}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>