<% layout('/layouts/default.html', {title: '门店管理', libs: ['validate']}){ %>
<link rel="stylesheet" href="${ctxStatic}/plugins/layui/css/layui.css">
<style>
	.layui-card-body {
		padding: 30px 15px;
	}

	@media (min-width: 768px){
        .col-sm-1 {
            width: 12.333333%;
        }

    }

</style>
<div class="box-body" style="padding: 20px; background-color: #F2F2F2">
	<div class="main-content">
		<div class="box box-main">
			<div class="box-header with-border">
				<div class="box-title">
					<i class="fa fa-list-alt"></i> ${text(xrStore.isNewRecord ? '新增数据' : '编辑数据')}
				</div>
				<div class="box-tools pull-right">
					<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
				</div>
			</div>
			<#form:form id="inputForm" model="${xrStore}" action="${ctx}/xr/xrStore/save" method="post" class="form-horizontal">
			<div class="box-body" style="padding:20px">
				<div class="form-unit">${text('门店基本信息')}</div>
				<div class="layui-col-md12">
					<div class="layui-card" style="border-width:1px 1px 1px 1px">
						<div class="layui-card-body">
							<#form:hidden path="xsCode"/>
							<div class="row">
								<div class="col-xs-6">
									<div class="form-group">
										<label class="control-label col-sm-3" title="">
											<span class="required ">*</span> ${text('店铺全称')}：<i class="fa icon-question hide"></i></label>
										<div class="col-sm-8">
											<#form:input path="xsFullName" maxlength="128" class="form-control required"/>
										</div>
									</div>
								</div>
								<div class="col-xs-6">
									<div class="form-group">
										<label class="control-label col-sm-3" title="">
											<span class="required ">*</span> ${text('店铺简称')}：<i class="fa icon-question hide"></i></label>
										<div class="col-sm-8">
											<#form:input path="xsShortName" maxlength="128" class="form-control required"/>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-6">
									<div class="form-group">
										<label class="control-label col-sm-3" title="">
											<span class="required ">*</span> ${text('连锁代码')}：<i class="fa icon-question hide"></i></label>
										<div class="col-sm-8">
											<#form:input path="xsChainCode" maxlength="128" class="form-control required"/>
										</div>
									</div>
								</div>
								<div class="col-xs-6">
									<div class="form-group">
										<label class="control-label col-sm-3" title="">
											<span class="required " id="phone_notice">*</span> ${text('电话')}：<i class="fa icon-question hide"></i></label>
										<div class="col-sm-8">
											<#form:input path="xsPhone" maxlength="64" class="form-control required digits" id="phone"/>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-6">
									<div class="form-group">
										<label class="control-label col-sm-3" title="">
											<span class="required ">*</span> ${text('地址')}：<i class="fa icon-question hide"></i></label>
										<div class="col-sm-8">
											<#form:input path="xsAddress" maxlength="255" class="form-control required"/>
										</div>
									</div>
								</div>
								<div class="col-xs-6">
									<div class="form-group">
										<label class="control-label col-sm-3" title="">
											<span class="required ">*</span> ${text('门店级别')}：<i class="fa icon-question hide"></i></label>
										<div class="col-sm-8">
											<#form:select path="xsLevel" dictType="XS_LEVEL" blankOption="true" class="form-control" />
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-6">
									<div class="form-group">
										<label class="control-label col-sm-3" title="">
											<span class="required hide">*</span> ${text('微信公众号')}：<i class="fa icon-question hide"></i></label>
										<div class="col-sm-8">
											<#form:input path="xsWePublicAccount" maxlength="128" class="form-control"/>
										</div>
									</div>
								</div>
								<div class="col-xs-6">
									<div class="form-group">
										<label class="control-label col-sm-3" title="">
											<span class="required hide">*</span> ${text('网址')}：<i class="fa icon-question hide"></i></label>
										<div class="col-sm-8">
											<#form:input path="xsWebsite" maxlength="255" class="form-control"/>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-6">
									<div class="form-group">
										<label class="control-label col-sm-3" title="">
											<span class="required hide">*</span> ${text('经营范围')}：<i class="fa icon-question hide"></i></label>
										<div class="col-sm-8">
											<#form:select path="xsManageScope" dictType="XS_MANAGE_SCOPE" multiple="true" blankOption="true" class="form-control" />
										</div>
									</div>
								</div>
								<div class="col-xs-6">
									<div class="form-group">
										<label class="control-label col-sm-3" title="">
											<span class="required hide">*</span> ${text('开业时间')}：<i class="fa icon-question hide"></i></label>
										<div class="col-sm-8">
											<#form:input path="xsOpentime" readonly="true" maxlength="20" class="form-control Wdate"
											dataFormat="date" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:true});"/>
										</div>
									</div>
								</div>
							</div>
							<!--<div class="row">
								<div class="col-xs-12">
									<div class="form-group">
										<label class="control-label col-sm-2" title="">
											<span class="required hide">*</span> ${text('门店展示图片')}：<i class="fa icon-question hide"></i></label>
										<div class="col-sm-10">
											<#form:fileupload id="uploadImage" bizKey="${xrStore.id}" bizType="xrStore_image"
											uploadType="image" class="" readonly="false"/>
										</div>
									</div>
								</div>
							</div>-->
							<!--div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="control-label col-sm-4" title="">
                                            <span class="required hide">*</span> ${text('经度')}：<i class="fa icon-question hide"></i></label>
                                        <div class="col-sm-8">
                                            <#form:input path="xsLng" maxlength="50" class="form-control digits"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="control-label col-sm-4" title="">
                                            <span class="required hide">*</span> ${text('纬度')}：<i class="fa icon-question hide"></i></label>
                                        <div class="col-sm-8">
                                            <#form:input path="xsLat" maxlength="50" class="form-control digits"/>
                                        </div>
                                    </div>
                                </div>
                            </div>-->
							<div class="row">
								<div class="col-xs-12">
									<div class="form-group">
										<label class="control-label col-sm-1" title="">
											<span class="required hide">*</span> ${text('备注')}：<i class="fa icon-question hide"></i></label>
										<div class="col-sm-10">
											<#form:textarea path="remarks" rows="4" maxlength="500" class="form-control"/>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="box-footer" style="padding:8px;background: white">
				<div class="row" style="float:right;padding-right: 35px">
					<div class="col-sm-offset-2 col-sm-10">
						<% if (hasPermi('xr:xrStore:edit')){ %>
						<button type="submit" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check"></i> ${text('保 存')}</button>&nbsp;
						<% } %>
						<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
					</div>
				</div>
			</div>
		</#form:form>
	</div>
</div>
</div>
<% } %>

<script>

    function checkPhone() {
        var phoneReg = /^(13[0-9]{9})|(18[0-9]{9})|(14[0-9]{9})|(17[0-9]{9})|(15[0-9]{9})$/;
        var phoneResult = phone.value;
        if(phoneReg.test(phoneResult)){
            phone_notice.innerHTML = '手机号码验证通过！';
            phone_notice.style.color = 'green';
            return true;
        }else {
            phone_notice.innerHTML = '手机号码验证未通过！';
            phone_notice.style.color = 'red';
            return false;
        }

    }
</script>
<script>
$("#inputForm").validate({
	submitHandler: function(form){
	    if(checkPhone()){
            js.ajaxSubmitForm($(form), function(data){
                js.showMessage(data.message);
                if(data.result == Global.TRUE){
                    js.closeCurrentTabPage(function(contentWindow){
                        contentWindow.page();
                    });
                }
            }, "json");

		}else{
            alert("手机号码验证未通过");
            return false;
		}


    }
});
</script>