<% layout('/layouts/default.html', {title: '库存记录', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('库存记录')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('xrstocklog:xrStockLog:edit')){ %>
					<a href="${ctx}/xrstocklog/xrStockLog/form" class="btn btn-default btnTool" title="${text('新增xr_stock_log')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${xrStockLog}" action="${ctx}/xrstocklog/xrStockLog/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('库存类型')}：</label>
					<div class="control-inline">
						<#form:input path="stockType" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('入库单号')}：</label>
					<div class="control-inline">
						<#form:input path="stockInNo" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('入库时间')}：</label>
					<div class="control-inline">
						<#form:input path="stockInDate" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('出库单号')}：</label>
					<div class="control-inline">
						<#form:input path="stockOutNo" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('出库时间')}：</label>
					<div class="control-inline">
						<#form:input path="stockOutDate" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('产品编号')}：</label>
					<div class="control-inline">
						<#form:input path="productCode" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('产品名称')}：</label>
					<div class="control-inline">
						<#form:input path="productName" maxlength="128" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text('日期')}', name:'createDate', index:'a.create_date', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/xrstocklog/xrStockLog/form?id='+row.id+'" class="btnList" data-title="${text('编辑库存资料')}">'+(val||row.id)+'</a>';
		}},
        {header:'${text('产品编号')}', name:'productCode', index:'a.product_code', width:150, align:"left"},
        {header:'${text('产品名称')}', name:'productName', index:'a.product_name', width:150, align:"left"},
		{header:'${text('库存类型')}', name:'stockType', index:'a.stock_type', width:150, align:"left"},
		{header:'${text('入库单号')}', name:'stockInNo', index:'a.stock_in_no', width:150, align:"left"},
		{header:'${text('入库时间')}', name:'stockInDate', index:'a.stock_in_date', width:150, align:"center"},
        {header:'${text('入库数量')}', name:'numberIn', index:'a.number_in', width:150, align:"center"},
		{header:'${text('出库单号')}', name:'stockOutNo', index:'a.stock_out_no', width:150, align:"left"},
		{header:'${text('出库时间')}', name:'stockOutDate', index:'a.stock_out_date', width:150, align:"center"},
		{header:'${text('出库数量')}', name:'numberOut', index:'a.number_out', width:150, align:"center"},
        {header:'${text('备注')}', name:'remarks', index:'a.remarks', width:150, align:"left"},
        {header:'${text('状态')}', name:'status', index:'a.status', width:150, align:"center", formatter: function(val, obj, row, act){
                return js.getDictLabel(${@DictUtils.getDictListJson('sys_search_status')}, val, '${text('未知')}', true);
            }},
		{header:'${text('操作')}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('xrstocklog:xrStockLog:edit')){ %>
				actions.push('<a href="${ctx}/xrstocklog/xrStockLog/form?id='+row.id+'" class="btnList" title="${text('编辑库存资料')}"><i class="fa fa-pencil"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/xrstocklog/xrStockLog/delete?id='+row.id+'" class="btnList" title="${text('删除库存资料')}" data-confirm="${text('确认要删除该xr_stock_log吗？')}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>