<% layout('/layouts/default.html', {title: '库存资料', libs: ['validate']}){ %>
<link rel="stylesheet" href="${ctxStatic}/plugins/layui/css/layui.css">

<style>
	.layui-card-body {
		padding: 20px 15px;
	}

	.layui-card:last-child {
		margin-bottom: 30px;
	}
</style>
<div class="box-body" style="padding: 20px; background-color: #F2F2F2">
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text(xrStockControl.isNewRecord ? '新增库存资料' : '查看库存资料')}
			</div>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<#form:form id="inputForm" model="${xrStockControl}" action="${ctx}/xrstockcontrol/xrStockControl/save" method="post" class="form-horizontal">
			<div class="box-body" style="padding:20px">
				<div class="form-unit">${text('基本信息')}</div>
				<div class="layui-col-md12">
					<div class="layui-card" style="border-width:1px 1px 1px 1px">
						<div class="layui-card-body">
				<div class="row">
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('操作者')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="user.userName" maxlength="64" readonly="${!xrStockControl.isNewRecord}" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('操作者组织')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="office.officeName" maxlength="64" readonly="${!xrStockControl.isNewRecord}" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('产品编号')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">

								<#form:hidden path="isNewRecord"/>
								<#form:input path="productCode" maxlength="64" readonly="${!xrStockControl.isNewRecord}" class="form-control required"/>
							</div>
						</div>
					</div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4" title="">
                                <span class="required ">*</span> ${text('产品名称')}：<i class="fa icon-question hide"></i></label>
                            <div class="col-sm-8">
                                <#form:input path="xrProductinfo.productName" maxlength="64" readonly="${!xrStockControl.isNewRecord}" class="form-control required"/>
                            </div>
                        </div>
                    </div>
				</div>
				<div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4" title="">
                                <span class="required ">*</span> ${text('库存数量')}：<i class="fa icon-question hide"></i></label>
                            <div class="col-sm-8">
                                <#form:input path="quan" readonly="${!xrStockControl.isNewRecord}" class="form-control required digits"/>
                            </div>
                        </div>
                    </div>
				</div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4" title="">
                                <span class="required ">*</span> ${text('入库数量')}：<i class="fa icon-question hide"></i></label>
                            <div class="col-sm-8">
                                <#form:input path="numberIn" readonly="${!xrStockControl.isNewRecord}" class="form-control required digits"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4" title="">
                                <span class="required ">*</span> ${text('出库数量')}：<i class="fa icon-question hide"></i></label>
                            <div class="col-sm-8">
                                <#form:input path="numberOut" readonly="${!xrStockControl.isNewRecord}" class="form-control required digits"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="control-label col-sm-2" title="">
                                <span class="required hide">*</span> ${text('备注')}：<i class="fa icon-question hide"></i></label>
                            <div class="col-sm-10">
                                <#form:textarea path="remarks" rows="4" maxlength="500" readonly="${!xrStockControl.isNewRecord}" class="form-control"/>
                            </div>
                        </div>
                    </div>
                </div>
				</div>
						</div>
					</div>
			</div>
			<div class="box-footer">
				<div class="row">
					<div class="col-sm-offset-2 col-sm-10">
						<% if (hasPermi('xrstockcontrol:xrStockControl:edit')){ %>
							<button type="submit" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check"></i> ${text('保 存')}</button>&nbsp;
						<% } %>
						<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
					</div>
				</div>
			</div>
		</#form:form>
	</div>
</div>
</div>
<% } %>
<script>
$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
					contentWindow.page();
				});
			}
		}, "json");
    }
});
</script>