<% layout('/layouts/default.html', {title: '库存资料', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('库存资料')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('xrstockcontrol:xrStockControl:edit')){ %>
				<a href="${ctx}/xrstockcontrol/xrStockControl/form" class="btn btn-default btnTool" title="${text('新增xr_stock_control')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${xrStockControl}" action="${ctx}/xrstockcontrol/xrStockControl/listData" method="post" class="form-inline hide"
			data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
			<div class="form-group">
				<label class="control-label">${text('操作者')}：</label>
				<div class="control-inline">
					<#form:input path="user.userName" maxlength="64" class="form-control width-120"/>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">${text('操作者组织')}：</label>
				<div class="control-inline">
					<#form:input path="office.officeName" maxlength="64" class="form-control width-120"/>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">${text('产品名称')}：</label>
				<div class="control-inline">
					<#form:input path="xrProductinfo.productName" maxlength="64" class="form-control width-120"/>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">${text('产品编号')}：</label>
				<div class="control-inline">
					<#form:input path="productCode" maxlength="64" class="form-control width-120"/>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">${text('库存数量')}：</label>
				<div class="control-inline">
					<#form:input path="quan" class="form-control width-120"/>
				</div>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
				<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
			</div>
		</#form:form>
		<table id="dataGrid"></table>
		<div id="dataGridPage"></div>
	</div>
</div>
</div>
<% } %>
<script>
    // 初始化DataGrid对象
    $('#dataGrid').dataGrid({
        searchForm: $("#searchForm"),
        columnModel: [
            {header:'${text('创建时间')}', name:'createDate', index:'a.create_date', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
                    return '<a href="${ctx}/xrstockcontrol/xrStockControl/form?productCode='+row.productCode+'" class="btnList" data-title="${text('编辑xr_stock_control')}">'+(val||row.id)+'</a>';
                }},
            {header:'${text('操作者')}', name:'user.userName', index:'u12.user_name', width:150, align:"left"},
            {header:'${text('操作者组织')}', name:'office.officeName', index:'u13.office_name', width:150, align:"left"},
            {header:'${text('产品名称')}', name:'xrProductinfo.productName', index:'o.product_Name', width:150, align:"left"},
            {header:'${text('产品编号')}', name:'productCode', index:'a.product_code', width:150, align:"left"},
            {header:'${text('库存数量')}', name:'quan', index:'a.quan', width:150, align:"center"},
            {header:'${text('入库数量')}', name:'numberIn', index:'a.number_in', width:150, align:"center"},
            {header:'${text('出库数量')}', name:'numberOut', index:'a.number_out', width:150, align:"center"},
            {header:'${text('操作')}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
                    var actions = [];
                <% if(hasPermi('xrstockcontrol:xrStockControl:edit')){ %>
                        actions.push('<a href="${ctx}/xrstockcontrol/xrStockControl/form?productCode='+row.productCode+'" class="btnList" title="${text('编辑xr_stock_control')}"><i class="fa fa-pencil"></i></a>&nbsp;');
                        actions.push('<a href="${ctx}/xrstockcontrol/xrStockControl/delete?productCode='+row.productCode+'" class="btnList" title="${text('删除xr_stock_control')}" data-confirm="${text('确认要删除该xr_stock_control吗？')}"><i class="fa fa-trash-o"></i></a>&nbsp;');
                    <% } %>
                    return actions.join('');
                }}
        ],
        // 加载成功后执行事件
        ajaxSuccess: function(data){

        }
    });
</script>