<% layout('/layouts/default.html', {title: '会员信息', libs: ['validate','fileupload','dataGrid']}){ %>
<link rel="stylesheet" href="${ctxStatic}/plugins/layui/css/layui.css">
<style>

	* {

		margin: 0;

		padding: 0;
	}
</style>
<div class="box-body" style="background-color: #E9E7E7">
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text(memberinfoData.isNewRecord ? '新增数据' : '编辑数据')}
			</div>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<#form:form id="inputForm" model="${memberinfoData}" action="${ctx}/memberinfo/save" method="post" class="form-horizontal">
			<div class="box-body" style="padding:20px">
				<div class="form-unit">${text('会员基本资料')}</div>
				<div class="box-body">
				<#form:hidden path="mi_code"/>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
								<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('会员编号')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
                                <#form:input path="mi_code" maxlength="64" readonly="${memberinfoData.isNewRecord}" class="form-control abc"/>
                                <#form:hidden path="isNewRecord"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('会员姓名')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="miName" maxlength="100" class="form-control "/>
							</div>
						</div>
					</div>
				</div>
				</div>
		<div class="row">
			<div class="col-xs-6">
				<div class="form-group">
					<label class="control-label col-sm-4" title="">
						<span class="required hide">*</span> ${text('公历生日')}：<i class="fa icon-question hide"></i></label>
					<div class="col-sm-8">
						<#form:input path="miGregorianBirthday" readonly="true" maxlength="20" class="form-control  Wdate"
						dataFormat="datet" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:true});"/>
					</div>
				</div>
			</div>
				<div class="col-xs-6">
					<div class="form-group">
						<label class="control-label col-sm-4" title="">
							<span class="required hide">*</span> ${text('会员性别')}：<i class="fa icon-question hide"></i></label>
						<div class="col-sm-8">
							<#form:radio path="miSex" dictType="mi_sex" class="form-control " />
						</div>
					</div>
				</div>
			</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('手机号码')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="miPhone" maxlength="100"  class="form-control "/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required  hide">*</span> ${text('进店渠道')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:select path="miOutlets" dictType="mi_outlets" multiple="true" blankOption="true" class="form-control " />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('标记状态')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:radio path="miMarkStatus" dictType="mi_mark_status" class="form-control " />
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('会员状态')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:radio path="miMemberStatus" dictType="mi_member_status" class="form-control " />
							</div>
						</div>
					</div>
				</div>
			</div>
		<div class="box-footer" style="background-color: #E9E7E7;padding:5px" ></div>
		<div class="box-body" style="padding:20px">
			<div class="layui-tab">
				<ul class="layui-tab-title" style="color: #1E9FFF">
					<li class="layui-this">基本资料</li>
					<li>标签</li>
					<li>效果对比图</li>
					<li>交易历史</li>
					<li>沟通记录</li>
				</ul>
				<div class="layui-tab-content">
					<div class="layui-tab-item layui-show">
                       <!--<div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label class="control-label col-sm-2">${text('会员头像')}：</label>
                                    <div class="col-sm-10">
                                        <#form:fileupload id="uploadImage" bizKey="${memberinfoData.id}" bizType="mi_photo"
                                        uploadType="image" class="" readonly="false"/>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label class="control-label col-sm-4" title="">
                                        <span class="required hide">*</span> ${text('微信号')}：<i class="fa icon-question hide"></i></label>
                                    <div class="col-sm-8">
                                        <#form:input path="miWechatNumber" maxlength="200" class="form-control"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label class="control-label col-sm-4" title="">
                                        <span class="required hide">*</span> ${text('星座')}：<i class="fa icon-question hide"></i></label>
                                    <div class="col-sm-8">
                                        <#form:select path="miConstellation" dictType="mi_constellation" blankOption="true" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label class="control-label col-sm-4" title="">
                                        <span class="required hide">*</span> ${text('会员卡号')}：<i class="fa icon-question hide"></i></label>
                                    <div class="col-sm-8">
                                        <#form:input path="miCardNumber" maxlength="200" class="form-control"/>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label class="control-label col-sm-4" title="">
                                        <span class="required hide">*</span> ${text('QQ号')}：<i class="fa icon-question hide"></i></label>
                                    <div class="col-sm-8">
                                        <#form:input path="miQqNumber" maxlength="200" class="form-control"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label class="control-label col-sm-4" title="">
                                        <span class="required hide">*</span> ${text('血型')}：<i class="fa icon-question hide"></i></label>
                                    <div class="col-sm-8">
                                        <#form:select path="miBloodType" dictType="mi_blood_type" blankOption="true" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label class="control-label col-sm-4" title="">
                                        <span class="required hide">*</span> ${text('卡类别')}：<i class="fa icon-question hide"></i></label>
                                    <div class="col-sm-8">
                                        <#form:input path="miCardType" maxlength="200" class="form-control"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label class="control-label col-sm-4" title="">
                                        <span class="required hide">*</span> ${text('邮箱')}：<i class="fa icon-question hide"></i></label>
                                    <div class="col-sm-8">
                                        <#form:input path="miZipCode" maxlength="200" class="form-control"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label class="control-label col-sm-4" title="">
                                        <span class="required hide">*</span> ${text('身份证号')}：<i class="fa icon-question hide"></i></label>
                                    <div class="col-sm-8">
                                        <#form:input path="miIdNumber" maxlength="200" class="form-control"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label class="control-label col-sm-4" title="">
                                        <span class="required hide">*</span> ${text('消息类通知')}：<i class="fa icon-question hide"></i></label>
                                    <div class="col-sm-8">
                                        <#form:radio path="miMessageNotice" dictType="mi_message_notice" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label class="control-label col-sm-4" title="">
                                        <span class="required hide">*</span> ${text('家庭电话')}：<i class="fa icon-question hide"></i></label>
                                    <div class="col-sm-8">
                                        <#form:input path="miFamilyPhone" maxlength="200" class="form-control"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label class="control-label col-sm-4" title="">
                                        <span class="required hide">*</span> ${text('邮编')}：<i class="fa icon-question hide"></i></label>
                                    <div class="col-sm-8">
                                        <#form:input path="miZipCode" maxlength="200" class="form-control"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label class="control-label col-sm-4" title="">
                                        <span class="required hide">*</span> ${text('营销类通知')}：<i class="fa icon-question hide"></i></label>
                                    <div class="col-sm-8">
                                        <#form:radio path="miMarketingNotice" dictType="mi_marketing_notice" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label class="control-label col-sm-4" title="">
                                        <span class="required hide">*</span> ${text('职业')}：<i class="fa icon-question hide"></i></label>
                                    <div class="col-sm-8">
                                        <#form:input path="miVocation" maxlength="200" class="form-control"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label class="control-label col-sm-4" title="">
                                        <span class="required hide">*</span> ${text('工作单位')}：<i class="fa icon-question hide"></i></label>
                                    <div class="col-sm-8">
                                        <#form:input path="miWorkUnit" maxlength="200" class="form-control"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label class="control-label col-sm-4" title="">
                                        <span class="required hide">*</span> ${text('微信绑卡')}：<i class="fa icon-question hide"></i></label>
                                    <div class="col-sm-8">
                                        <#form:radio path="	mi_wechat_binding_card" dictType="mi_wechat_binding_card" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-2" title="">
                                        <span class="required hide">*</span> ${text('家庭地址')}：<i class="fa icon-question hide"></i></label>
                                    <div class="col-sm-10">
                                        <#form:input path="miFamilyAddress" maxlength="200" class="form-control" width="400px"/>
                                    </div>
                                </div>
                            </div>

                        </div>
                       <div class="row">
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label class="control-label col-sm-4" title="">
                                        <span class="required hide">*</span> ${text('负责员工')}：<i class="fa icon-question hide"></i></label>
                                    <div class="col-sm-8">
                                        <#form:input path="miResponsibleStaff" maxlength="200" class="form-control"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label class="control-label col-sm-4" title="">
                                        <span class="required hide">*</span> ${text('会员等级')}：<i class="fa icon-question hide"></i></label>
                                    <div class="col-sm-8">
                                        <#form:select path="miMemberGrade" dictType="mi_member_grade" blankOption="true" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label class="control-label col-sm-4" title="">
                                        <span class="required hide">*</span> ${text('发展潜质')}：<i class="fa icon-question hide"></i></label>
                                    <div class="col-sm-8">
                                        <#form:input path="miDevelopmentPotential" maxlength="200" class="form-control"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
					<div class="layui-tab-item">
                        <div>
                            <table id="dataGridMoneyHistory"></table>
                        </div>
                        内容2
                    </div>
					<div class="layui-tab-item">内容3</div>
					<div class="layui-tab-item">内容4</div>
					<div class="layui-tab-item">内容5</div>
				</div>
			</div>
		</div>
    <div class="box-footer" style="background-color: #E9E7E7;padding:5px" ></div>
			<div class="box-footer" style="padding:8px">
				<div class="row" style="float:right;padding-right: 35px">
					<div class="col-sm-offset-2 col-sm-12">
							<button type="submit" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check" ></i> ${text('保 存')}</button>&nbsp;
						<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()" ><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
					</div>
				</div>
			</div>

		</#form:form>
	</div>
</div>
</div>
<% } %>
<script src="${ctxStatic}/plugins/layui/layui.all.js"></script>
<script id="treeselectTpl" type="text/template">//<!--<div>
<#form:treeselect id="{{d.id}}" title="{{d.title}}" name="{{d.name}}" value="{{d.value}}"
	labelName="{{d.labelName}}" labelValue="{{d.labelValue}}" url="{{d.url}}"
	class="{{d.cssClass}}" btnClass="btn-sm" allowClear="true"/>
</div>//--></script>
<script>
    $("#inputForm").validate({
        submitHandler: function(form){
            js.ajaxSubmitForm($(form), function(data){
                js.showMessage(data.message);
                if(data.result == Global.TRUE){
                    js.closeCurrentTabPage(function(contentWindow){
                        contentWindow.page();
                    });
                }
            }, "json");
        }
    });
</script>
<script>
    //注意：选项卡 依赖 element 模块，否则无法进行功能性操作
    layui.use('element', function(){
        var element = layui.element;
        //获取li的类属性名
       var oLi1 = element.getElementsByClassName('layui-this')[0];
       //获取div的类属性名
       var oDiv1 = element.getElementsByClassName('layui-tab-item layui-show')[0];
       for(var i=0;i<oLi1.length;i++){
           oLi1[i].className="";
	   }
	   this.className="layui-this";
       for (var j=0;j<oDiv1.length;j++){
           oDiv1[j].className="hide";
	   }
	   oDiv1[this.index].className="show";


        //…
    });
</script>

<script>
    // 初始化dataGridMoneyHistory对象
    /*$('#dataGridMoneyHistory').dataGrid({
        searchForm: $("#searchForm"),
        columnModel: [
            {header:'${text('单据日期')}', name:'testInput', index:'a.test_input', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
                    return '<a href="${ctx}/test/testData/form?id='+row.id+'" class="btnList" data-title="${text('编辑数据')}">'+(val||row.id)+'</a>';
                }},
            {header:'${text('多行文本')}', name:'testTextarea', index:'a.test_textarea', width:150, align:"left"},
            {header:'${text('下拉框')}', name:'testSelect', index:'a.test_select', width:150, align:"center", formatter: function(val, obj, row, act){
                    return js.getDictLabel(${@DictUtils.getDictListJson('sys_menu_type')}, val, '${text('未知')}', true);
                }},
            {header:'${text('下拉多选')}', name:'testSelectMultiple', index:'a.test_select_multiple', width:150, align:"center", formatter: function(val, obj, row, act){
                    return js.getDictLabel(${@DictUtils.getDictListJson('sys_menu_type')}, val, '${text('未知')}', true);
                }},
            {header:'${text('单选框')}', name:'testRadio', index:'a.test_radio', width:150, align:"center", formatter: function(val, obj, row, act){
                    return js.getDictLabel(${@DictUtils.getDictListJson('sys_menu_type')}, val, '${text('未知')}', true);
                }},
            {header:'${text('复选框')}', name:'testCheckbox', index:'a.test_checkbox', width:150, align:"center", formatter: function(val, obj, row, act){
                    return js.getDictLabel(${@DictUtils.getDictListJson('sys_menu_type')}, val, '${text('未知')}', true);
                }},
            {header:'${text('日期选择')}', name:'testDate', index:'a.test_date', width:150, align:"center"},
            {header:'${text('日期时间')}', name:'testDatetime', index:'a.test_datetime', width:150, align:"center"},
            {header:'${text('用户选择')}', name:'testUser.userName', index:'a.test_user_code', width:150, align:"center"},
            {header:'${text('机构选择')}', name:'testOffice.officeName', index:'a.test_office_code', width:150, align:"center"},
            {header:'${text('区域选择')}', name:'testAreaName', index:'a.test_area_code', width:150, align:"center"},
            {header:'${text('区域名称')}', name:'testAreaName', index:'a.test_area_name', width:150, align:"left"},
            {header:'${text('状态')}', name:'status', index:'a.status', width:150, align:"center", formatter: function(val, obj, row, act){
                    return js.getDictLabel(${@DictUtils.getDictListJson('sys_search_status')}, val, '${text('未知')}', true);
                }},
            {header:'${text('创建时间')}', name:'createDate', index:'a.create_date', width:150, align:"center"},
            {header:'${text('备注信息')}', name:'remarks', index:'a.remarks', width:150, align:"left"},
            {header:'${text('操作')}', name:'actions', width:200, sortable:false, title:false, formatter: function(val, obj, row, act){
                    var actions = [];
                <% if(hasPermi('test:testData:edit')){ %>
                        actions.push('<a href="${ctx}/test/testData/form?id='+row.id+'" class="btnList" title="${text('编辑数据')}"><i class="fa fa-pencil"></i></a>&nbsp;');
                        if (row.status == Global.STATUS_NORMAL){
                            actions.push('<a href="${ctx}/test/testData/disable?id='+row.id+'" class="btnList" title="${text('停用数据')}" data-confirm="${text('确认要停用该数据吗？')}"><i class="glyphicon glyphicon-ban-circle"></i></a>&nbsp;');
                        }
                        if (row.status == Global.STATUS_DISABLE){
                            actions.push('<a href="${ctx}/test/testData/enable?id='+row.id+'" class="btnList" title="${text('启用数据')}" data-confirm="${text('确认要启用该数据吗？')}"><i class="glyphicon glyphicon-ok-circle"></i></a>&nbsp;');
                        }
                        actions.push('<a href="${ctx}/test/testData/delete?id='+row.id+'" class="btnList" title="${text('删除数据')}" data-confirm="${text('确认要删除该数据吗？')}"><i class="fa fa-trash-o"></i></a>&nbsp;');
                    <% } %>
                    return actions.join('');
                }}
        ],
        // 加载成功后执行事件
        ajaxSuccess: function(data){

        }
    });*/
</script>