<% layout('/layouts/default.html', {title: '会员信息管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('会员信息管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
                <a href="#" class="btn btn-default" id="btnRefreshTree" title="${text('刷新')}"><i class="fa fa-refresh"></i> ${text('刷新')}</a>
                <a href="#" class="btn btn-default" id="btnExpandTreeNode" title="${text('展开一级')}"><i class="fa fa-angle-double-down"></i> ${text('展开')}</a>
                <a href="#" class="btn btn-default" id="btnCollapseTreeNode" title="${text('折叠全部')}"><i class="fa fa-angle-double-up"></i> ${text('折叠')}</a>
					<a href="#" class="btn btn-default btnTool" title="${text('新增数据')}"><i class="fa fa-plus"></i> ${text('新增')}</a>

			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${memberinfoData}" action="${ctx}/memberinfo/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('会员姓名')}：</label>
					<div class="control-inline">
						<#form:input path="tmiName" maxlength="200" class="form-control width-120"/>
					</div>
				</div>
				<<div class="form-group">
            <label class="control-label">${text('公历生日')}：</label>
            <div class="control-inline">
                <#form:input path="miGregorianBirthday" readonly="true" maxlength="20" class="form-control Wdate-datetime"
                dataFormat="datetime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd ',isShowClear:false,onpicked:function(){testDatetime_lte.click()}});"/>
            </div>
        </div>
            <div class="form-group">
                <label class="control-label">${text('会员性别')}：</label>
                <div class="control-inline">
                    <#form:radio path="miSex" dictType="mi_sex" blankOption="true" class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">${text('手机号码')}：</label>
                <div class="control-inline">
                    <#form:input path="miPhone" maxlength="200" class="form-control width-120"/>
                </div>
            </div>

				<div class="form-group">
					<label class="control-label">${text('标记状态')}：</label>
					<div class="control-inline width-120">
						<#form:select path="miMarkStatus" dictType="mi_mark_status" blankOption="true" class="form-control"/>
					</div>
				</div>
            <div class="form-group">
                <label class="control-label">${text('会员状态')}：</label>
                <div class="control-inline width-120">
                    <#form:select path="miMemberStatus" dictType="mi_member_status" blankOption="true" class="form-control"/>
                </div>
            </div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text('会员姓名')}', name:'miName', index:'a.miName', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/test/testData/form?id='+row.id+'" class="btnList" data-title="${text('编辑数据')}">'+(val||row.id)+'</a>';
		}},
		{header:'${text('公历生日')}', name:'miGregorianBirthday', index:'a.miGregorianBirthday', width:150, align:"left"},
        {header:'${text('会员性别')}', name:'miSex', index:'a.miSex', width:150, align:"center", formatter: function(val, obj, row, act){
                return js.getDictLabel(${@DictUtils.getDictListJson('sys_menu_type')}, val, '${text('未知')}', true);
            }},
        {header:'${text('会员卡号')}', name:'miCardNumber', index:'a.miCardNumber', width:150, align:"left"},
        {header:'${text('手机号码')}', name:'miPhone', index:'a.miPhone', width:150, align:"left"},
		{header:'${text('进店渠道')}', name:'miOutlets', index:'a.miOutlets', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('mi_outlets')}, val, '${text('未知')}', true);
		}},
        {header:'${text('标记状态')}', name:'miMarkStatus', index:'a.miMarkStatus', width:150, align:"center", formatter: function(val, obj, row, act){
                return js.getDictLabel(${@DictUtils.getDictListJson('mi_mark_status')}, val, '${text('未知')}', true);
            }},
        {header:'${text('会员状态')}', name:'miMemberStatus', index:'a.miMemberStatus', width:150, align:"center", formatter: function(val, obj, row, act){
                return js.getDictLabel(${@DictUtils.getDictListJson('mi_member_status')}, val, '${text('未知')}', true);
            }},
		{header:'${text('操作')}', name:'actions', width:200, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
				actions.push('<a href="${ctx}/memberinfo/form?id='+row.id+'" class="btnList" title="${text('编辑数据')}"><i class="fa fa-pencil"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/memberinfo/delete?id='+row.id+'" class="btnList" title="${text('删除数据')}" data-confirm="${text('确认要删除该数据吗？')}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){

	}
});
</script>