<% layout('/layouts/default.html', {title: '产品信息管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('产品信息管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${productInfoData}" action="${ctx}/productInfo/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
			<div class="form-group">
					<label class="control-label">${text('产品编号')}：</label>
					<div class="control-inline">
						<#form:input path="productCode" maxlength="200" class="form-control width-120"/>
					</div>
				</div>
            <div class="form-group">
                <label class="control-label">${text('产品名称')}：</label>
                <div class="control-inline">
					<#form:input path="productName" maxlength="200" class="form-control width-120"/>
                </div>
            </div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
        <div class="row">
            <div class="col-xs-10 pr10">
                <table id="dataGrid"></table>
                <div id="dataGridPage"></div>
            </div>
            <div class="col-xs-2 pl0">
                <div id="selectData" class="tags-input"></div>
            </div>
        </div>
    </div>
		</div>
	</div>
</div>
<% } %>
<script type="text/javascript">
	var selectId = "";
	var idName="";
    var selectData = ${isNotBlank(selectData!) ? selectData! : "{\}"},
// 初始化DataGrid对象
    selectNum = 0, dataGrid =  $('#dataGrid').dataGrid({
    showCheckbox: false,
	searchForm: $("#searchForm"),
	columnModel: [
        {header:'${text("产品编号")}', name:'productCode', index:'a.product_code', width:150, align:"center", frozen:true,sortable:true, formatter: function(val, obj, row, act){
                console.log(row);
                return '<a href="${ctx}/productInfo/form?id='+row.productCode+'" class="btnList" data-title="${text("编辑数据")}">'+(val||row.id)+'</a>';
            }},
        {header:'${text("产品名称")}', name:'productName', index:'a.product_name', width:200, align:"center"},
        {header:'${text("折扣类别")}', name:'xpdDiscountCategory', index:'a.xpd_discount_category', width:150, align:"center",formatter: function(val, obj, row, act){
                return js.getDictLabel(${@DictUtils.getDictListJson('xpd_discount_category')}, val, '${text("未知")}', true);
            }},
        {header:'${text("统计分类")}', name:'xpdStatisticalClass', index:'a.xpd_statistical_class', width:150, align:"center",formatter: function(val, obj, row, act){
                return js.getDictLabel(${@DictUtils.getDictListJson('xp_statistical_class')}, val, '${text("未知")}', true);
            }},
        {header:'${text("门店价格")}', name:'xpdStorePrice', index:'a.xpd_store_price', width:150, align:"center"},
        {header:'${text("会员价格")}', name:'xpdMembershipPrices', index:'a.xpd_membership_prices', width:150, align:"center"},
        {header:'${text("建档日期")}', name:'xpdFilingTime', index:'a.xpd_filing_time', width:150, align:"center"},
        {header:'${text("助记码")}', name:'xpdMnemonicCode', index:'a.xpd_mnemonic_code', width:150, align:"center"},
        {header:'${text("停用")}', name:'xpdIsdiscountinued', index:'a.xpd_isdiscountinued', width:150, align:"center", formatter: function(val, obj, row, act){
                return js.getDictLabel(${@DictUtils.getDictListJson('xpd_isDiscountinue')}, val, '${text("未知")}', true);
            }},
        {header:'${text("备注")}', name:'xpdRemarks', index:'a.xpd_remarks', width:150, align:"center"},
        {header:'行数据', name:'rowData', hidden:true, formatter: function(val, obj, row, act){
                return JSON.stringify(row);
            }},
	    ],
        autoGridHeight: function(){
            var height = $(window).height() - $('#searchForm').height() - $('#dataGridPage').height() - 73;
            $('.tags-input').height($('.ui-jqgrid').height() - 10);
            return height;
        },
    autoGridWidth: true,
	showCheckbox: ${checkbox! == 'true'},
	// 加载成功后执行事件
    multiboxonly: false, // 单击复选框时再多选
    ajaxSuccess: function(data){
        $.each(selectData, function(key, value){
            dataGrid.dataGrid('setSelectRow', key);
        });
        initSelectTag();
    },

     onSelectRow: function(id, isSelect, event){
         	selectId = id;
         	idName="${idName}";
            if (${checkbox! == 'true'}){
                if(isSelect){
                    selectData[id] = JSON.parse(dataGrid.dataGrid('getRowData', id).rowData);
                }else{
                    delete selectData[id];
                }
            }else{
                selectData = {};
                selectData[id] = JSON.parse(dataGrid.dataGrid('getRowData', id).rowData);
            }
            initSelectTag();
        },

        onSelectAll: function(ids, isSelect){
            if (${checkbox! == 'true'}){
                for (var i=0; i<ids.length; i++){
                    if(isSelect){
                        selectData[ids[i]] = JSON.parse(dataGrid.dataGrid('getRowData', ids[i]).rowData);
                    }else{
                        delete selectData[ids[i]];
                    }
                }
            }
            initSelectTag();
        },

        ondblClickRow: function(id, rownum, colnum, event){
            if (${checkbox! != 'true'}){
                js.layer.$('#' + window.name).closest('.layui-layer')
                    .find(".layui-layer-btn0").trigger("click");
            }
            initSelectTag();

        }


});

    function initSelectTag(){
        selectNum = 0;
        var html = [];
        $.each(selectData, function(key, value){
            selectNum ++;
            html.push('<span class="tag" id="'+key+'_tags-input"><span>'+value.productName+' </span>'
                + '<a href="#" onclick="removeSelectTag(\''+key+'\');" title="取消选择">x</a></span>');
        });
        html.unshift('<div class="title">当前已选择<span id="selectNum">'+selectNum+'</span>项：</div>');
        $('#selectData').empty().append(html.join(''));
    }
    function removeSelectTag(key){
        delete selectData[key];
        dataGrid.dataGrid('resetSelection', key);
        $('#selectNum').html(--selectNum);
        $('#'+key+'_tags-input').remove();
    }
    function getSelectData(){
        return selectData;
    }
</script>