<% layout('/layouts/default.html', {title: '产品信息管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('产品信息管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<!--<a href="#" class="btn btn-default" id="btnRefreshTree" title="刷新"><i class="fa fa-refresh"></i> 刷新</a>-->
					<a href="${ctx}/productInfo/form" class="btn btn-default btnTool" title="${text('新增数据')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${productInfoData}" action="${ctx}/productInfo/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('产品编号')}：</label>
					<div class="control-inline">
						<#form:input path="productCode" maxlength="200" class="form-control width-120"/>
					</div>
				</div>
            <div class="form-group">
                <label class="control-label">${text('产品名称')}：</label>
                <div class="control-inline">
					<#form:input path="productName" maxlength="200" class="form-control width-120"/>
                </div>
            </div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("产品编号")}', name:'productCode', index:'a.product_code', width:150, align:"center", frozen:true,sortable:true, formatter: function(val, obj, row, act){
		    console.log(row);
			return '<a href="${ctx}/productInfo/form?id='+row.productCode+'" class="btnList" data-title="${text("编辑数据")}">'+(val||row.id)+'</a>';
		}},
		{header:'${text("产品名称")}', name:'productName', index:'a.product_name', width:150, align:"center"},
        {header:'${text("折扣类别")}', name:'xpdDiscountCategory', index:'a.xpd_discount_category', width:150, align:"center",formatter: function(val, obj, row, act){
    		return js.getDictLabel(${@DictUtils.getDictListJson('xpd_discount_category')}, val, '${text("未知")}', true);
		}},
        {header:'${text("统计分类")}', name:'xpdStatisticalClass', index:'a.xpd_statistical_class', width:150, align:"center",formatter: function(val, obj, row, act){
    		return js.getDictLabel(${@DictUtils.getDictListJson('xpd_statistical_class')}, val, '${text("未知")}', true);
		}},
        {header:'${text("门店价格")}', name:'xpdStorePrice', index:'a.xpd_store_price', width:150, align:"center"},
        {header:'${text("会员价格")}', name:'xpdMembershipPrices', index:'a.xpd_membership_prices', width:150, align:"center", formatter: function(val, obj, row, act){
                return js.getDictLabel(${@DictUtils.getDictListJson('xpd_standard_unit')}, val, '${text("未知")}', true);
            }},
		{header:'${text("建档日期")}', name:'xpdFilingTime', index:'a.xpd_filing_time', width:150, align:"center"},
        {header:'${text("助记码")}', name:'xpdMnemonicCode', index:'a.xpd_mnemonic_code', width:150, align:"center"},
        {header:'${text("停用")}', name:'xpdIsdiscountinued', index:'a.xpd_isdiscountinued', width:150, align:"center", formatter: function(val, obj, row, act){
                return js.getDictLabel(${@DictUtils.getDictListJson('xpd_isDiscountinue')}, val, '${text("未知")}', true);
            }},
        {header:'${text("备注")}', name:'xpdRemarks', index:'a.xpd_remarks', width:150, align:"center"},
		{header:'${text("操作")}', name:'actions', width:200, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
				actions.push('<a href="${ctx}/productInfo/form?id='+row.productCode+'" class="btnList" title="${text("编辑数据")}"><i class="fa fa-pencil"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/productInfo/delete?id='+row.productCode+'" class="btnList" title="${text("删除数据")}" data-confirm="${text("确认要删除该数据吗？")}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){

	}
});
</script>