<% layout('/layouts/default.html', {title: '门店资料管理', libs: ['validate','fileupload','ueditor','dataGrid']}){ %>
<link rel="stylesheet" href="${ctxStatic}/plugins/layui/css/layui.css">
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${storeInfoData.isNewRecord ? '新增数据' : '编辑数据'}
			</div>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<#form:form id="inputForm" model="${storeInfoData}" action="${ctx}/storeInfo/save" method="post" class="form-horizontal">
			<div class="box-body">
				<div class="form-unit">门店基本信息</div>
				<#form:hidden path="xsCode"/>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span>本店编号：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:hidden path="isNewRecord"/>
								<#form:input path="xsCode" maxlength="64" readonly="${!storeInfoData.isNewRecord}" value="storeInfoData.getXsCode" class="form-control required"/>

							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span>本店全称：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="xsFullName" maxlength="200"  class="form-control required" readonly="${!storeInfoData.isNewRecord}" value="storeInfoData.getXsFullName"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 本店简称：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="xsShortName" maxlength="200"  class="form-control required" readonly="${!storeInfoData.isNewRecord}" value="storeInfoData.getXsShortName"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 连锁代码：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="xsChainCode" maxlength="200"  class="form-control required" readonly="${!storeInfoData.isNewRecord}" value="storeInfoData.getXsChainCode"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide" id="phone_notice">*</span> 电话：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="xsPhone" id="phone" class="form-control required" value="" oninput="checkPhone()" htmlEscape="false" maxlength="11" readonly="${!storeInfoData.isNewRecord}" value="storeInfoData.getXsPhone" />
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 地址：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="xsAddress" maxlength="200"  class="form-control required" readonly="${!storeInfoData.isNewRecord}" value="storeInfoData.getXsAddress" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 门店级别：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:select path="xsLevel" dictType="XS_LEVEL" blankOption="true" class="form-control"  readonly="${!storeInfoData.isNewRecord}" value="storeInfoData.getXsLevel"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 微信公众号：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="xsWePublicAccount" maxlength="200"  class="form-control" readonly="${!storeInfoData.isNewRecord}" value="storeInfoData.getXsWePublicAccount"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 公司网址：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="xsWebsite" maxlength="200"  class="form-control" readonly="${!storeInfoData.isNewRecord}" value="storeInfoData.getXsWebsite"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 经营范围：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:select path="xsManageScope" dictType="XS_MANAGE_SCOPE" multiple="true" blankOption="true" class="form-control" readonly="${!storeInfoData.isNewRecord}" value="storeInfoData.getXsManageScope" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 开业时间：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="xsOpentime" readonly="true" maxlength="20" class="form-control Wdate "
									dataFormat="date" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:false});" readonly="${!storeInfoData.isNewRecord}" value="storeInfoData.getXsOpentime"/>
							</div>
						</div>
					</div>
				</div>
				<!--<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2">门店LOGO：</label>
							<div class="col-sm-10">
								<#form:fileupload id="uploadImage" bizKey="${storeInfoData.xsCode}" bizType="xrStore_image"
								uploadType="image" class="" readonly="false"/>
							</div>
						</div>
					</div>
				</div>-->
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2">门店展示图：</label>
							<div class="col-sm-10">
								<#form:fileupload id="uploadImage" bizKey="${storeInfoData.xsCode}" bizType="xrStore_image"
								uploadType="image" class="" readonly="false"/>
							</div>
						</div>
					</div>
				</div>
			<div class="box-footer" style="padding:8px">
				<div class="row" style="float:right;padding-right: 35px">
					<div class="col-sm-offset-2 col-sm-12">
						<button type="submit" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check" ></i> ${text('保 存')}</button>&nbsp;
						<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()" ><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
					</div>
				</div>
			</div>
		</#form:form>
	</div>
</div>
<% } %>
<script>

    //验证手机号
    function checkPhone() {
        var phoneReg = /^(13[0-9]{9})|(18[0-9]{9})|(14[0-9]{9})|(17[0-9]{9})|(15[0-9]{9})$/;
        var phoneResult = phone.value;
        if(phoneReg.test(phoneResult)){
            phone_notice.innerHTML = '手机号码验证通过！';
            phone_notice.style.color = 'green';
            return true;
        }else {
            phone_notice.innerHTML = '手机号码验证未通过！';
            phone_notice.style.color = 'red';
            return false;
        }

    }
</script>
<script src="${ctxStatic}/plugins/layui/layui.all.js"></script>
<script>
$("#inputForm").validate({
	submitHandler: function(form){
	    if(checkPhone()){
            js.ajaxSubmitForm($(form), function(data){
                js.showMessage(data.message);
                if(data.result == Global.TRUE){
                    js.closeCurrentTabPage(function(contentWindow){
                        contentWindow.page();
                    });
                }
            }, "json");
		}else{
	        alert("手机号验证未通过");
	        return false;
		}

}
});
</script>