<% layout('/layouts/default.html', {title: '门店信息', libs: ['dataGrid']}){ %>
<div class="main-content">
    <div class="box box-main">
        <div class="box-header">
            <div class="box-title">
                <i class="fa fa-list-alt"></i> ${text('门店信息')}
            </div>
            <div class="box-tools pull-right">
                <a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
                <a href="#" class="btn btn-default btnTool" title="${text('刷新')}"><i class="fa fa-plus"></i> ${text('刷新')}</a>
                <a href="${ctx}/storeInfo/form" class="btn btn-default btnTool" title="${text('新增数据')}"><i class="fa fa-plus"></i> ${text('新增')}</a>

            </div>
        </div>
        <div class="box-body">
            <#form:form id="searchForm" model="${storeInfoData}" action="${ctx}/storeInfo/listData" method="post" class="form-inline hide"
            data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
            <div class="form-group">
                <label class="control-label">${text('店铺全称')}：</label>
                <div class="control-inline">
                    <#form:input path="XS_FUll_NAME" maxlength="200" class="form-control width-120"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">${text('店铺简称')}：</label>
                <div class="control-inline">
                    <#form:input path="XS_SHORT_NAME" maxlength="200" class="form-control width-120"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">${text('连锁代码')}：</label>
                <div class="control-inline width-120">
                    <#form:input path="XS_CHAIN_CODE" maxlength="200" class="form-control width-120"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">${text('门店级别')}：</label>
                <div class="control-inline width-120">
                    <#form:select path="XS_LEVEL" dictType="XS_LEVEL" multiple="true" blankOption="true" class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
                <button type="reset" class="bsearchFormtn btn-default btn-sm">${text('重置')}</button>
            </div>
        </#form:form>
        <table id="dataGrid"></table>
        <div id="dataGridPage"></div>
    </div>
</div>
</div>
<% } %>
<script>
    // 初始化DataGrid对象
    $('#dataGrid').dataGrid({
        searchForm: $("#searchForm"),
        columnModel: [
            {header:'${text("店铺全称")}', name:'xsFullName', index:'a.xs_full_name', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
                    return '<a href="${ctx}/storeInfo/form?id='+row.xsCode+'" class="btnList" data-title="${text("编辑数据")}">'+(val||row.id)+'</a>';
                }},
            {header:'${text("店铺简称")}', name:'xsShortName', index:'a.xs_short_name', width:150, align:"center"},
            {header:'${text('连锁代码')}', name:'xsChainCode', index:'a.xs_chain_code', width:150, align:"center"},
            {header:'${text("电话")}', name:'xsPhone', index:'a.xs_phone', width:150, align:"center"},
            {header:'${text("地址")}', name:'xsAddress', index:'a.xs_address', width:150, align:"center"},
            {header:'${text("门店级别")}', name:'xsLevel', index:'a.xs_level', width:150, align:"center", formatter: function(val, obj, row, act){
                    return js.getDictLabel(${@DictUtils.getDictListJson('XS_LEVEL')}, val, '${text("未知")}', true);
            }},
            {header:'${text("经营范围")}', name:'xsManageScope', index:'a.xs_manage_scope', width:150, align:"center", formatter: function(val, obj, row, act){
                    return js.getDictLabel(${@DictUtils.getDictListJson('XS_MANAGE_SCOPE')}, val, '${text("未知")}', true);
            }},
            {header:'${text("操作")}', name:'actions', width:200, sortable:false, title:false, formatter: function(val, obj, row, act){
                    var actions = [];

                        actions.push('<a href="${ctx}/storeInfo/form?id='+row.xsCode+'" class="btnList" title="${text("编辑数据")}"><i class="fa fa-pencil"></i></a>&nbsp;');
                        actions.push('<a href="${ctx}/storeInfo/delete?id='+row.xsCode+'" class="btnList" title="${text("删除数据")}" data-confirm="${text('确认要删除该数据吗？')}"><i class="fa fa-trash-o"></i></a>&nbsp;');

                    return actions.join('');
                }}
        ],
        // 加载成功后执行事件
        ajaxSuccess: function(data){

        }
    });
</script>